body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
    background-color:rgb(243, 150, 210);
    color: rgb(176, 4, 110);
    padding: 10px;

}

.buttons-container {
    display: flex;
    justify-content:center;
    gap:10px;
    
}

button {
 
    width: 100px;
    height: 40px;
    background-color:rgb(243, 150, 210);
    border-radius: 10px;
    border-style:hidden;
    color: rgb(176, 4, 110);
    font-size: 15px;

    
}

.mensagem{
    margin-top: 30px;
    font-size: 18px;
    color: #333;
    text-align: center;
    font-weight: bold;
}

button:hover{
    background-color: rgb(71, 1, 44);
    cursor: pointer;
    transition: background-color 0.3s
    
}